<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>00:00</td><td>1. <a href="./01-basics/index.html">Automated Version Control</a>
        </td><td>What is version control and why should I use it?</td>
      </tr>
      <tr>
        <td>00:05</td><td>2. <a href="./02-setup/index.html">Setting Up Git</a></td>
        <td>How do I get set up to use Git?</td>
      </tr>
      <tr>
        <td>00:10</td><td>3. <a href="./03-create/index.html">Creating a Repository</a></td>
        <td>Where does Git store information?</td>
      </tr>
      <tr>
        <td>00:20</td><td>4. <a href="./04-changes/index.html">Tracking Changes</a></td>
        <td>    How do I record changes in Git?
                <br/>
                How do I check the status of my version control repository?
                <br/>
                How do I record notes about what changes I made and why?
        </td>
      </tr>
      <tr><td>00:40</td><td>5. <a href="./05-history/index.html">Exploring History</a>
        </td>
        <td>
                How can I identify old versions of files?
                <br/>
                How do I review my changes?
                <br/>
                How can I recover old versions of files?
        </td>
      </tr>
      <tr>
        <td>01:05</td><td>6. <a href="./06-ignore/index.html">Ignoring Things</a></td>
        <td>How can I tell Git to ignore files I don’t want to track?</td>
      </tr>
      <tr>
        <td>01:10</td><td>7. <a href="./07-github/index.html">Remotes in GitHub</a></td>
        <td>How do I share my changes with others on the web?</td>
      </tr>
      <tr>
        <td>01:40</td><td>8. <a href="./08-collab/index.html">Collaborating</a></td>
        <td>How can I use version control to collaborate with other people?</td>
      </tr>
      <tr>
        <td>02:05</td><td>9. <a href="./09-conflict/index.html">Conflicts</a></td>
        <td>What do I do when my changes conflict with someone else’s?</td>
      </tr>
      <tr>
        <td>02:20</td><td>10. <a href="./10-open/index.html">Open Science</a></td>
        <td>How can version control help me make my work more open?</td>
      </tr>
      <tr>
        <td>02:30</td><td>11. <a href="./11-licensing/index.html">Licensing</a></td>
        <td>What licensing information should I include with my work?</td>
      </tr>
      <tr>
        <td>02:35</td><td>12. <a href="./12-citation/index.html">Citation</a></td>
        <td>How can I make my work easier to cite?</td>
      </tr>
      <tr>
        <td>02:37</td><td>13. <a href="./13-hosting/index.html">Hosting</a></td>
        <td>Where should I host my version control repositories?</td>
      </tr>
      <tr>
        <td>02:47</td><td>4. <a href="./14-supplemental-rstudio/index.html">Supplemental: Using Git from RStudio</a></td>
        <td>How can I use Git with RStudio?</td>
      </tr>
      <tr>
        <td>02:57</td><td>Finish</td><td></td>
      </tr>
      </table>
  </div>
</div>
